Dotnet/Hello/bin
Dotnet/Hello/obj
Dotnet/Variables/bin
Dotnet/Variables/obj
Dotnet/Palindrome/obj
Dotnet/Palindrome/bin
Dotnet/PredictNumber/bin
Dotnet/PredictNumber/obj
Dotnet/ObjectOrientation/obj
Dotnet/ObjectOrientation/bin
Dotnet/FileReader/bin
Dotnet/FileReader/obj
Dotnet/DateTimeCalculator/obj
Dotnet/DateTimeCalculator/bin
Dotnet/AspNetWebCalculator/bin
Dotnet/AspNetWebCalculator/obj
Dotnet/AspNetWebCalculator
Dotnet/ExceptionHandling
Dotnet/Randoms/bin
Dotnet/Randoms/obj
JavaScript/AzureBlobUplode/node_modules
JavaScript/AzureBlobUplode/uploadFile.txt
JavaScript/azureCosmosDB/node_modules