Dotnet/Hello/bin
Dotnet/Hello/obj
Dotnet/Variables/bin
Dotnet/Variables/obj
Dotnet/Palindrome/obj
Dotnet/Palindrome/bin
Dotnet/PredictNumber/bin
Dotnet/PredictNumber/obj
Dotnet/ObjectOrientation/obj
Dotnet/ObjectOrientation/bin
